body{
    display:flex;
    height:100vh;
}
.LeftSideContent{
    margin-top:auto;
    margin-bottom:auto;
    width:35%;
    min-height:55vw;
    max-height:80vw;
    background-color: darkblue;
}
.RightSideContent{
    margin-top:auto;
    margin-bottom:auto;
    width:65%;
    min-height:55vw;
    max-height:80vw;
    background-color: purple;
}